.header {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #DADADA;
}

.header_logo {
  display: block;
  width: auto;
  height: 36px;
}

.header-logo-wrap {
  display: flex;
  align-items: center;
}

.header-logo-dark {
  display: none;
}

:root[data-theme='dark'] .header-logo-light {
  display: none;
}

:root[data-theme='dark'] .header-logo-dark {
  display: block;
}

.header_profile-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #B7B7B7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 공통 이미지 스타일 */
.header-profile-img {
  display: block;
  border-radius: 50%;
}

/* 사용자가 등록한 프로필 사진 */
.user-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #DADADA;
}

/* 기본 프로필 아이콘 */
.default-profile-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
